@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
.App {
  text-align: center;
  overflow-x: hidden;
}

:root{
  --dark:#000;
  --light:#fff;
  --gray:#C0C0C0;
  --platin:#E5E4E2;
  --darkGray:	#808080;
  --gold:#d6a215;	
}
